asgiref==3.6.0
certifi==2023.5.7
channels==4.0.0
charset-normalizer==3.1.0
Django==4.2.1
daphne==2.5.0
idna==3.4
numpy
opencv-python==4.7.0.72
Pillow==9.5.0
psycopg2-binary==2.9.6
python-decouple==3.8
pytz==2023.3
requests==2.30.0
sqlparse==0.4.4
urllib3==2.0.2
optional-django==0.1.0
packaging==20.4
Pillow
psycopg2
psycopg2-binary                                 
pyasn1                           
pyasn1-modules                             
pycparser                            
PyHamcrest                   
pyOpenSSL                         
pyparsing                             
python-dateutil                       
python-decouple                        
pytz                          
redis                            
requests                           
s3transfer                           
service-identity                        
six                                
sqlparse                         
Twisted                            
txaio                            
urllib3                               
webencodings                               
zipp                                
zope.interface             