aioredis                                            
asgiref                                             
async-timeout                                             
attrs                                             
autobahn                                            
Automat                                           
bleach                                           
boto3                                           
botocore                                        
certifi                                       
cffi                                      
channels                                          
channels-redis                                        
chardet                                    
constantly                                       
cryptography                                          
daphne                                           
Django                                            
django-bootstrap-static                                           
django-cropperjs                                        
django-storages                                           
gunicorn                                           
hiredis                                             
hyperlink                                           
idna                                           
importlib-metadata                                          
incremental                                            
jmespath                                           
msgpack                                          
numpy                                            
opencv-python                                     
optional-django                               
packaging                                  
Pillow                                          
psycopg2                                    
psycopg2-binary                                        
pyasn1                                   
pyasn1-modules                                   
pycparser                                          
PyHamcrest                                           
pyOpenSSL                                         
pyparsing                                          
python-dateutil                                            
python-decouple                                           
pytz                                             
redis                                            
requests                                             
s3transfer                                             
service-identity                                             
six                                           
sqlparse                                         
Twisted                                            
txaio                                       
urllib3                                          
webencodings                                
zipp                                         
zope.interface                                        