asgiref==3.6.0
certifi==2023.5.7
channels==4.0.0
charset-normalizer==3.1.0
Django==4.2.1
daphne==2.5.0
idna==3.4
numpy==1.24.3
opencv-python==4.7.0.72
Pillow==9.5.0
psycopg2-binary==2.9.6
python-decouple==3.8
pytz==2023.3
requests==2.30.0
sqlparse==0.4.4
urllib3==2.0.2
optional-django==0.1.0
packaging==20.4
Pillow==7.2.0
psycopg2==2.8.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
redis==3.5.3
requests==2.24.0
s3transfer==0.3.3
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.10
webencodings==0.5.1
zipp==3.1.0
zope.interface==5.1.0